<div class="ng-availability">
  <form [formGroup]="angForm">
    <ng-container formArrayName="availabilities">
      <div [formGroupName]="i" *ngFor="let availability of availabilities?.controls; index as i">
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <mat-form-field class="w-100">
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="always">
                <mat-option [value]="true">Permanente</mat-option>
                <mat-option [value]="false">Puntual</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3 col-xs-12" *ngIf="availabilities.controls[i].get('always').value">
            <mat-form-field class="w-100">
              <mat-label>Día</mat-label>
              <mat-select formControlName="day">
                <mat-option [value]="day.day" *ngFor="let day of weekAlways">{{day.label | titlecase}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3 col-xs-12" *ngIf="!availabilities.controls[i].get('always').value">
            <mat-form-field class="w-100">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date" (ngModelChange)="selectDay(availability.controls, $event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-2 col-xs-12">
            <mat-form-field class="w-100">
              <mat-label>Inicio</mat-label>
              <input matInput type="time" formControlName="begin">
              <mat-error>El campo inicio es <strong>obligatorio</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-2 col-xs-12">
            <mat-form-field class="w-100">
              <mat-label>Fín</mat-label>
              <input matInput type="time" formControlName="end">
              <mat-error>El campo fín es <strong>obligatorio</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-2 col-xs-12 d-flex align-items-center">
            <button [disabled]="availabilities.length === 1" mat-icon-button color="warn" (click)="destroy(i)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <button mat-button color="primary" (click)="addAvailability()" class="mx-2">
      <mat-icon class="mr-2">add</mat-icon>Nueva Fecha
    </button>
  </form>
</div>

