<div class="container p-2">
  <div class="d-flex flex-wrap align-items-center justify-content-between p-4">
    <div class="d-flex align-items-center">
      <h2 class="m-0 text-secondary">Ajustes</h2>
    </div>
  </div>
  <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()">
    <div class="p-3 mx-auto" style="max-width: 450px">
      <div class="text-center mb-4">
        <img
          class="p-4"
          src="../../assets/logo.png"
          width="300px"
          alt="logo-negular"
        />
      </div>
        <div class="p-4" style="height: 300px;width: 300px;margin: 0 auto 25px;">
          <div for="file-upload" class="py-4 w-100 px-3 h-100 d-flex align-items-center justify-content-center cursor-pointer" style="background: rgb(255 255 255);border: 1px solid #f1f1f1;border-radius: 50%;overflow: hidden;" appDrag (files)="filesDropped($event)" (click)="compressFile()">
            <img *ngIf="loadFile" [src]="loadFile" alt="Image Event" width="100%">
            <div *ngIf="!loadFile">
              <strong class="text-secondary">DRAG AND DROP</strong><br><small>(Es obligatorio)</small>
            </div>
          </div>
        </div>
        <h2 class="text-secondary">Datos de Usuario</h2>
        <mat-form-field class="w-100">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Apellidos</mat-label>
          <input matInput type="text" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" disabled>
        </mat-form-field>

        <h2 class="text-secondary mt-2">Pago por Bizum</h2>

        <mat-form-field class="w-100">
          <mat-label>Teléfono</mat-label>
          <input matInput type="number" formControlName="phone">
        </mat-form-field>

        <mat-slide-toggle formControlName="activeBizum" [disabled]="!angForm.controls['phone'].value">Activar Bizum</mat-slide-toggle>

    </div>
  </form>
  <div class="d-flex justify-content-end p-4">
    <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!angForm.valid">Guardar</button>
  </div>
</div>
