<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-12">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" required>
        <mat-error>El campo email es obligatorio</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Clave</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error>El campo clave es obligatorio</mat-error>
      </mat-form-field>
    </div>
    <div class="w-100 row p-3">
      <a style="text-decoration: none;color: #bbbbbb;cursor: pointer" class="col-sm-8 col-sx-12 mb-3">¿Has olvidado la clave de acceso?</a>
      <div class="col-sm-4 col-sx-12 d-flex justify-content-end">
        <button mat-raised-button color="accent" >Acceder</button>
      </div>
    </div>
  </div>
</form>
