<div style="width: 100%; height: 800px;">
  <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 400px;">
    <div>
      <div class="p-2 mb-4 text-center" style="color: #c5c5c5;">
        <h1 style="font-size: 60px;">404</h1>
        <h1>Not Found</h1>
      </div>
      <button mat-button [routerLink]="['/']">
        <mat-icon class="mr-2">keyboard_arrow_left</mat-icon>Volver a la Home
      </button>
    </div>
  </div>
</div>
