<div class="container p-2">
  <div class="d-flex flex-wrap align-items-center justify-content-between p-4">
    <div class="d-flex align-items-center">
      <button matTooltip="Notificaciones" mat-icon-button class="m-2" [routerLink]="['/admin/notificaciones']">
        <mat-icon class="mr-1">west</mat-icon>
      </button>
      <h2 class="m-0 text-secondary">{{ notification.id ? notification.name : 'Nueva Notificación'}}</h2>
    </div>
  </div>
  <mat-vertical-stepper [linear]="notification.id ? false : true" #stepper>
    <mat-step label="Datos" [stepControl]="notificationFormDataBasicComponent?.angForm">
      <app-notification-form-data-basic #notificationFormDataBasicComponent [notification]="notification"></app-notification-form-data-basic>
    </mat-step>
    <!--<mat-step label="Reuniones asociadas a la Sala" [stepControl]="roomFormDataBasicComponent?.angForm" *ngIf="room.id">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <h2>Reuniones</h2>
        <div class="d-flex align-items-center">
          <button matTooltip="Nueva Reunión" mat-fab color="warn" class="m-2" [routerLink]="['/admin/reuniones/crear']"><mat-icon>add</mat-icon></button>
          <button matTooltip="Eliminar Seleccionados" mat-fab color="accent" class="m-2" (click)="destroy(tableComponent.selection.selected)"><mat-icon>delete_sweep</mat-icon></button>
        </div>
      </div>
      <app-table #tableComponent [data]="data" (emitClick)="openForm($event)" (emitSelection)="destroy($event)"></app-table>
    </mat-step>-->
  </mat-vertical-stepper>
  <div class="d-flex justify-content-end">
    <button mat-raised-button [disabled]="!notificationFormDataBasicComponent.angForm.valid" color="accent" (click)="submit()">Guardar</button>
  </div>
</div>
