<form [formGroup]="angForm">
  <ng-container formArrayName="questions">
    <div cdkDropList
         [cdkDropListData]="questions?.controls"
         (cdkDropListDropped)="drop($event)">
      <div [formGroupName]="i" *ngFor="let question of questions?.controls; index as i" cdkDrag class="ng-dad-box">
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <mat-form-field class="w-100">
              <mat-label>Pregunta</mat-label>
              <input matInput type="text" formControlName="label">
              <mat-error>El campo pregunta es <strong>obligatorio</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3 col-xs-12">
            <mat-form-field class="w-100">
              <mat-label>Tipo de Respuesta</mat-label>
              <mat-select formControlName="type" (selectionChange)="selectedType(question.controls.options, $event)" [disabled]="question.get('type').value === 'email'">
                <mat-option *ngFor="let type of typesQuestion" [value]="type.value" [disabled]="type.value === 'email'">{{type.label}}</mat-option>
              </mat-select>
              <mat-error>El campo tipo de respuesta es <strong>obligatorio</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-2 col-xs-12 d-flex align-items-center">
            <mat-checkbox formControlName="required" [disabled]="question.get('type').value === 'email'">Requerido</mat-checkbox>
          </div>
          <div class="col-sm-2 col-xs-12 d-flex align-items-center">
            <button [disabled]="question.get('type').value === 'email'" mat-button color="warn" (click)="destroy(i, null)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
          <div class="col-sm-12" *ngIf="question.get('options').value.length > 0">
            <ng-container formArrayName="options">
              <ul class="m-0">
                <li [formGroupName]="j" *ngFor="let option of question.get('options').controls; index as j">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Opción {{j + 1}}</mat-label>
                    <input matInput type="text" formControlName="label">
                    <button [disabled]="j === 0" mat-icon-button matSuffix (click)="destroy(j, question.controls.options)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </li>
              </ul>
            </ng-container>
            <button mat-button color="primary" class="mx-2" (click)="addOption(question.controls.options)">
              <mat-icon class="mr-2">add</mat-icon>Nueva Opción
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <button mat-button color="primary" (click)="addQuestion(null,questions?.controls.length + 1)" class="mx-2">
    <mat-icon class="mr-2">add</mat-icon> Nueva Pregunta
  </button>
</form>


