<form [formGroup]="angForm">
  <div class="row">
    <div class="col-lg-4 col-xs-12">
      <div class="p-4" style="height: 300px">
        <div for="file-upload" class="py-4 w-100 px-3 h-100 d-flex align-items-center justify-content-center cursor-pointer" appDrag (files)="filesDropped($event)" (click)="compressFile()">
          <img *ngIf="loadFile" [src]="loadFile" alt="Image Event" width="100%" style="max-height: 100%;width: auto;">
          <div *ngIf="!loadFile">
            <strong class="text-secondary">DRAG AND DROP</strong><br><small>(Es obligatorio)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-xs-12 row">
      <div class="col-sm-12">
        <div class="w-100 p-2 d-flex justify-content-between flex-wrap align-items-center">
          <mat-radio-group formControlName="typeEvent" required>
            <mat-radio-button class="mx-2" value="single"><mat-icon>person_outline</mat-icon></mat-radio-button>
            <mat-radio-button class="mx-2" value="group"><mat-icon>people_outline</mat-icon></mat-radio-button>
          </mat-radio-group>
          <mat-slide-toggle color="warn" class="mx-2" formControlName="active">Activar</mat-slide-toggle>
        </div>
      </div>
      <div class="col-sm-12">
        <mat-form-field class="w-100 p-2">
          <input matInput placeholder="Nombre" formControlName="name" required>
          <mat-hint align="end">{{angForm.controls['name'].value?.length || 0}}/255</mat-hint>
          <mat-error *ngIf="angForm.controls['name'].hasError('required')">
            El campo nombre es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="angForm.controls['name'].hasError('maxlength')">
            El campo nombre <strong>supera el límite de caracteres</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-form-field class="w-100 p-2">
          <textarea matInput placeholder="Descripción" formControlName="description" rows="5" required></textarea>
          <mat-hint align="end">{{angForm.controls['description'].value?.length || 0}}/500</mat-hint>
          <mat-error *ngIf="angForm.controls['description'].hasError('required')">
            El campo descripción es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="angForm.controls['description'].hasError('maxlength')">
            El campo descripción <strong>supera el límite de caracteres</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4 col-xs-12">
        <mat-form-field class="w-100 p-2">
          <input matInput placeholder="Color (HEX)" [ngxMatColorPicker]="picker" formControlName="colour">
          <ngx-mat-color-toggle matSuffix [for]="picker" [ngStyle]="{'color': angForm.controls['colour'].value ? angForm.controls['colour'].value : '' }"></ngx-mat-color-toggle>
          <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color" ></ngx-mat-color-picker>
          <mat-error *ngIf="angForm.controls['colour'].hasError('required')">
            El campo color es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4 col-xs-12">
        <mat-form-field class="w-100 p-2">
          <input matInput placeholder="Duración (min)" formControlName="duration" type="number" required>
          <mat-error *ngIf="angForm.controls['duration'].hasError('required')">
            El campo duración es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4 col-xs-12">
        <mat-form-field class="w-100 p-2">
          <input matInput placeholder="Precio (€)" formControlName="price" type="number" step=".01" required>
          <mat-error *ngIf="angForm.controls['price'].hasError('required')">
            El campo precio es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

</form>
