.ng-btn-home {
  font-size: 30px;
  color: white;
  border: 2px solid white;
  padding: 20px 50px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  z-index: 999;
  width: 250px;
  line-height: 30px;
  text-align: center;
}

.ng-btn-home:hover {
  padding: 15px 50px;
  box-shadow: 0 0 0px 4px white;
  transition: 0.2s;
}

@media(max-width: 768px) {
  .ng-btn-home {
    font-size: 15px;
    padding: 30px;
    line-height: 15px;
    width: auto;
  }
  .ng-btn-home:hover {
    padding: 25px 30px;
    box-shadow: 0 0 0px 4px white;
    transition: 0.2s;
  }
}

.ng-home-item {
  margin: 10px auto;
  padding: 10px;
  height: 170px;
  width: 250px;
}

h1.ng-home-item-title {
  text-align: center;
  font-size: 23px !important;
  color: #636363;
}

h1.ng-home-item-title + p {
  text-align: justify;
  padding: 0 15px
}


