<div class="home">
  <div class="waveWrapper waveAnimation bg-gradient">
    <div
      class="d-flex flex-wrap justify-content-center align-items-center"
      style="width: 100%; height: 400px;"
    >
      <div class="w-lg-50 p-4 ng-home-logo">
        <img
          class="mt-4 p-4 animate__animated animate__backInDown"
          src="../../assets/logo.png"
          width="100%"
          alt="logo-negular"
        />
      </div>
      <div class="w-100 text-center mx-2">
        <h1 class="text-white">
          Gestiona <strong>tu negocio online</strong> fácilmente desde una única plataforma<br/><strong class="typed-element"></strong>
        </h1>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="ng-btn-home animate__animated animate__headShake">
          <span class="d-block pb-1" (click)="scrollToRegister()">Regístrate</span><strong>GRATIS</strong>
        </div>
        <div class="ng-btn-home animate__animated animate__headShake" (click)="openMeetRoom()">
          <span class="d-block pb-1">Crear Sala</span><strong>¡AHORA!</strong>
        </div>
      </div>
      <!--<form [formGroup]="angForm" class="w-100" novalidate (ngSubmit)="openRoom()">
        <div class="w-100 d-flex flex-wrap justify-content-center align-items-center mt-4">
        <mat-form-field appearance="fill" style="max-width: 300px; z-index: 999;">
          <mat-label>Nombre de la Sala</mat-label>
          <input matInput type="text" class="text-white" formControlName="room" required>
          <mat-error>El nombre de la sala es requerido</mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          class="text-muted"
          style="z-index: 16;margin-bottom: 20px;"
          type="submit"
        >
          Entrar
        </button>
      </div>
    </form>-->
  </div>

  <div class="waveWrapperInner bgTop">
      <div
        class="wave waveTop"
        style="background-image: url('https://front-end-noobs.com/jecko/img/wave-top.png')"
      ></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div
        class="wave waveMiddle"
        style="background-image: url('https://front-end-noobs.com/jecko/img/wave-mid.png')"
      ></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div
        class="wave waveBottom"
        style="background-image: url('https://front-end-noobs.com/jecko/img/wave-bot.png')"
      ></div>
    </div>
  </div>

  <div class="container mt-50">
    <div class="row">
      <div class="col-lg-4">
        <div class="ng-home-item" style="background-image: url('../../assets/img/home/calendar.png'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
        <div class="">
          <h1 class="ng-home-item-title">Gestión de Reuniones y Reservas</h1>
          <p>Organiza tu propio calendario profesional a partir de tu disponibilidad. Tus usuarios podrán realizar reservas de tus reuniones, incluso pagar por ellas.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ng-home-item" style="background-image: url('../../assets/img/home/meetings.png'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
        <div class="">
          <h1 class="ng-home-item-title">Salas de Meetings</h1>
          <p>Activa la sala, accede desde la plataforma y entra en tu sala de reuniones de un modo seguro, sin necesidad de links y desde cualquier dispositivo.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ng-home-item" style="background-image: url('../../assets/img/home/users.png'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
        <div class="">
          <h1 class="ng-home-item-title">Gestiona tus usuarios
          </h1>
          <p>Haciendo click en cualquier usuario de tu listado podrás consultar su registro de notificaciones, histórico de reuniones y estados de pago.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ng-home-item" style="background-image: url('../../assets/img/home/mails.png'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
        <div class="">
          <h1 class="ng-home-item-title">Notificaciones</h1>
          <p>Ahorra tiempo utilizando tus plantillas de mails personalizadas. Selecciona los usuarios y envíalo.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ng-home-item" style="background-image: url('../../assets/img/home/payments.png'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
        <div class="">
          <h1 class="ng-home-item-title">Pasarela de pago sin comisiones*</h1>
          <p>Obtén el 100% de tus beneficios al instante y sin comisiones.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ng-home-item" style="background-image: url('../../assets/img/home/presentation.png'); background-size: contain; background-repeat: no-repeat; background-position: center"></div>
        <div class="">
          <h1 class="ng-home-item-title">Crea tu espacio público
          </h1>
          <p>Saca a relucir tus servicios y abre el abanico de oportunidades que te ofrece estar en el mundo online.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="register mt-50 py-4">
    <div class="container">
      <h1 class="text-center text-secondary">REGÍSTRATE <strong>GRATIS</strong></h1>
      <hr class="my-4">
      <div class="row">
        <div class="col-lg-6 p-4 d-flex justify-content-center align-items-center">
          <div class="p-2">
            <img src="../../assets/img/add-user.png" width="100%" class="mb-4">
            <div class="mb-4">
              <p class="text-justify">Negular es una plataforma creada para ayudar a las empresas
              a salir adelante en esta nueva situación. Con ella tendrás la
              libertad de gestionar tu negocio online desde una única plataforma.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="py-2">
            <app-signup-form (emitForm)="signUp($event)"></app-signup-form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="container">
    <div class="bg-white pt-4 mt-4">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 300px"
      >
        <div class="text-center" style="max-width: 900px">
          <h2 class="text-muted">
            Crea tu espacio online y programa tus reuniones videoconferencias,
            notificaciones y mailing.
          </h2>
          <h3>¡Por fín todo en una misma plataforma!</h3>
        </div>
      </div>
    </div>
    <div class="row my-4 p-2 text-lg-left text-xs-center">
      <div class="col-sm-7 col-xs-12 d-flex align-items-center">
        <div class="p-2">
          <h3 class="w-100">PROGRAMACIÓN DE EVENTOS</h3>
          <p>
            Gestiona tu propio calendario profesional a partir de tu
            disponibilidad. Podrás configurar varios tipos de disponibilidades,
            en base al tipo de evento o reunión que configures.
          </p>
          <p>
            Tus clientes podrán reservar desde una cita o reunión, hasta
            inscribirse en tus webinars o gestionar tus networkings.
          </p>
          <p>
            Y esto no es todo, muy pronto podrás poner precio a tus reuniones o
            incluso crear un evento online o masterclass y cobrar por
            inscripción.
          </p>
        </div>
      </div>
      <div class="col-sm-5 col-xs-12">
        <img
          src="../../assets/img/calendar.png"
          alt="calendar"
          width="100%"
          class="p-3"
        />
      </div>
    </div>
    <div
      class="row flex-column-reverse flex-md-row my-4 p-2 text-lg-right text-xs-center"
    >
      <div class="col-sm-5 col-xs-12">
        <img
          src="../../assets/img/meeting.png"
          alt="meeting"
          width="100%"
          class="p-3"
        />
      </div>
      <div class="col-sm-7 col-xs-12 d-flex align-items-center">
        <div class="p-2">
          <h3 class="w-100">SALA DE VIDEOCONFERENCIAS</h3>
          <p>
            ¿Y si pudieras tener la reunión que han reservado en tu calendario
            desde la misma plataforma?
          </p>
          <p>
            ¡Así es! Podrás gestionar y reunirte en tu propia sala de
            videoconferencias. Envía el link o código de tu sala y con un solo
            clic podrán entrar en tu reunión desde un navegador sin necesidad de
            instalar ningún programa. Fácil y sencillo.
          </p>
        </div>
      </div>
    </div>
    <div class="row my-4 p-2 text-lg-left text-xs-center">
      <div class="col-sm-7 col-xs-12 d-flex align-items-center">
        <div class="p-2">
          <h3 class="w-100">NOTIFICACIONES Y MAILING</h3>
          <p>
            ¿ Y si te dijeses que tampoco vas a necesitar otra plataforma para hacer mailing?</p>
            <p>Vas a poder incluso importar y exportar tu lista de suscriptores y enviarles el email de tu plan
            de email marketing o comunicado de tu empresa.
          </p>
        </div>
      </div>
      <div class="col-sm-5 col-xs-12">
        <img
          src="../../assets/img/mailing.png"
          alt="mailing"
          width="100%"
          class="p-3"
        />
      </div>
    </div>
  </div>-->

</div>
<div class="container mt-50">
  <h1 class="text-center text-secondary">ÚLTIMOS USUARIOS REGISTRADOS</h1>
  <hr class="my-4">
  <app-drag-scroll (emitClick)="openRouteUser($event)" [data]="users"></app-drag-scroll>
</div>




