<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-6" style="padding: 0 15px 37px;height: 300px;">
      <div for="file-upload" class="py-4 w-100 px-3 h-100 d-flex align-items-center justify-content-center cursor-pointer" appDrag (files)="filesDropped($event)" (click)="compressFile()">
        <img *ngIf="loadFile" [src]="loadFile" alt="Image Event" style="max-height: 250px;max-width: 100%;">
        <div *ngIf="!loadFile">
          <strong class="text-secondary">DRAG AND DROP</strong><br><small>(Es obligatorio)</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error>El campo nombre es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput type="text" formControlName="lastName" required>
        <mat-error>El campo apellidos es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput type="number" formControlName="phone" required>
        <mat-error>El campo teléfono es obligatorio</mat-error>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
          El campo de email es obligatorio
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
          El campo email no tiene el formato correcto
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-12 mb-2">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" formControlName="username" required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>{{web + registerForm.controls['username'].value}}</mat-hint>
        <mat-error *ngIf="registerForm.controls['username'].hasError('required')">
          El campo de usuario es obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Clave</mat-label>
        <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix style="cursor: pointer" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
          El campo de clave es obligatorio
        </mat-error>
        <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
          El campo de clave debe tener al menos 4 caracteres
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Confirmar Clave</mat-label>
        <input matInput type="password" formControlName="confirm_password" required>
        <mat-error *ngIf="registerForm.controls['confirm_password'].hasError('required')">
          El campo de confirmar clave es obligatorio
        </mat-error>
        <mat-error *ngIf="registerForm.controls['confirm_password'].hasError('mustMatch')">
          El campo de confirmar clave no conincide
        </mat-error>
      </mat-form-field>
    </div>

    <div class="w-100 justify-content-end d-flex align-items-center p-3">
      <button mat-raised-button color="accent">Registrar</button>
    </div>
  </div>
</form>
