<div class="container w-100" style="max-width: 500px;">
  <mat-tab-group>
    <mat-tab label="Iniciar Sesión">
      <div class="p-4">
       <app-signin-form (emitForm)="signIn($event)"></app-signin-form>
      </div>
    </mat-tab>
    <mat-tab label="Registro">
      <div class="py-4">
        <app-signup-form (emitForm)="signUp($event)"></app-signup-form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
