<div class="container p-2">
  <div class="d-flex flex-wrap align-items-center justify-content-between p-4">
    <h2 class="m-0 text-secondary">Listado de Usuarios</h2>
    <!--<div>
      <button matTooltip="Enviar Notificación" mat-fab color="primary" class="m-2" (click)="sendEmail(tableComponent.selection.selected)">
        <mat-icon>mail_outline</mat-icon>
      </button>
    </div>-->
  </div>
  <app-table #tableComponent [data]="data" (emitClick)="openForm($event)"></app-table>
</div>
