<div class="container p-2">
  <div class="d-flex flex-wrap align-items-center justify-content-start p-4">
    <div class="d-flex flex-wrap align-items-center">
      <button matTooltip="Reuniones" mat-icon-button class="m-2" [routerLink]="['/admin/reuniones']">
        <mat-icon class="mr-1">west</mat-icon>
      </button>
      <h2 class="m-0 text-secondary">{{ meeting.id ? 'Reunión' : 'Nueva Reunión'}}</h2>
    </div>
  </div>
  <mat-vertical-stepper [linear]="meeting.id ? false : true" #stepper>
    <mat-step [stepControl]="formSelectEventForm?.angForm">
      <ng-template matStepLabel>Evento</ng-template>
      <app-select-event-form [meeting]="meeting" #formSelectEventForm (emitForm)="nextStep($event)"></app-select-event-form>
    </mat-step>
    <mat-step label="Disponibilidad" *ngIf="load" [stepControl]="formSelectDateAvailable?.angForm">
      <app-select-date-available-form #formSelectDateAvailable (emitForm)="nextStep($event)" [meeting]="meeting" [event]="formSelectEventForm?.angForm.value.event"></app-select-date-available-form>
    </mat-step>
    <mat-step label="Formulario" *ngIf="!meeting.id && load">
      <app-meeting-user-form #formUserForm [event]="formSelectEventForm?.angForm.value.event"></app-meeting-user-form>
    </mat-step>
    <mat-step label="Anotaciones" *ngIf="meeting.id && load">
      <ckeditor [editor]="Editor" [(ngModel)]="meeting.description" data="{{meeting.description}}"></ckeditor>
    </mat-step>
    <!--<mat-step label="Sala">
      <div class="d-flex align-items-center">
        <mat-form-field class="w-100">
          <mat-label>Selecciona una Sala</mat-label>
          <mat-select [(ngModel)]="room" required>
            <mat-option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</mat-option>
          </mat-select>
          <mat-error>El campo sala es <strong>obligatorio</strong></mat-error>
        </mat-form-field>
        <div class="mx-4">
          <button mat-raised-button color="accent">ENTRAR</button>
        </div>
      </div>
    </mat-step>-->
    <mat-step label="Usuarios" *ngIf="meeting?.id && load">

      <!-- Nuevo Participante -->
      <mat-drawer-container autosize class="w-100">
        <mat-drawer #drawerMeetingUsers position="start" mode="over" class="p-2 w-100" style="background-color: #fafafc !important;">
          <h2>Nuevo Participante</h2>
          <app-meeting-user-form #formUserForm [event]="formSelectEventForm?.angForm.value.event"></app-meeting-user-form>
          <div class="d-flex flex-wrap align-items-center justify-content-end">
            <button class="mr-2" mat-raised-button color="warn" (click)="close(drawerMeetingUsers)">Cerrar</button>
            <button mat-raised-button color="accent" [disabled]="!formUserForm?.angForm?.valid" (click)="addUser()">Añadir</button>
          </div>
        </mat-drawer>

        <!-- Datos del participante -->
        <mat-drawer #drawerMeetingNotification position="end" mode="over" class="p-2 w-100" style="background-color: #fafafc !important;">
            <div *ngIf="!user">
              <div class="w-100 d-flex flex-wrap align-items-center justify-content-between">
                <h2 class="m-0">Enviar Notificación</h2>
                <div class="d-flex align-items-center" *ngIf="notifications.length === 0">
                  <mat-icon class="mr-2" color="warn">info</mat-icon>
                  <strong class="color-warn">Debes crear una plantilla</strong>
                </div>
                <button matTooltip="Nueva Plantilla" mat-fab color="accent" class="m-2" [routerLink]="['/admin/notificaciones/crear']"><mat-icon>add</mat-icon></button>
              </div>
              <form [formGroup]="angForm" novalidate>
                <mat-form-field class="w-100 p-2">
                  <mat-label>Selecciona una Plantilla</mat-label>
                  <mat-select formControlName="notification">
                    <mat-option *ngFor="let notification of notifications" [value]="notification">{{notification.name}}</mat-option>
                  </mat-select>
                  <mat-error>El campo selección de plantilla es <strong>obligatorio</strong></mat-error>
                </mat-form-field>
              </form>

              <app-notification-form-data-basic #notificationFormDataBasicComponent [notification]="angForm.controls['notification'].value"
                                                [export]="true"></app-notification-form-data-basic>
            </div>
            <div *ngIf="user">
              <div class="d-flex flex-wrap align-items-center justify-content-between p-4">
                <div class="d-flex align-items-center">
                  <button matTooltip="Usuarios" mat-icon-button class="m-2" (click)="close(drawerMeetingNotification)">
                    <mat-icon class="mr-1">west</mat-icon>
                  </button>
                  <h2 class="m-0 text-secondary">{{ user?.email }}</h2>
                </div>
              </div>
              <app-user-form [user]="user" [export]="true" [meeting]="meeting"></app-user-form>
            </div>
            <div class="d-flex flex-wrap align-items-center justify-content-end" *ngIf="!user">
              <button class="mr-2" mat-raised-button color="warn" (click)="close(drawerMeetingNotification)">Cerrar</button>
              <button mat-raised-button color="accent" [disabled]="!notificationFormDataBasicComponent?.angForm?.valid" (click)="sendEmail()">Enviar</button>
            </div>
        </mat-drawer>

        <!-- Listado de usuarios -->

        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h2>Participantes</h2>
          <div class="d-flex flex-wrap align-items-center">
            <button matTooltip="Nuevo Participante" mat-fab color="warn" class="m-2" (click)="drawerMeetingUsers.toggle()"><mat-icon>add</mat-icon></button>
            <button matTooltip="Enviar Notificación" mat-fab color="primary" class="m-2" (click)="openNotificationForm(tableComponent.selection.selected)"><mat-icon>mail_outline</mat-icon></button>
            <button matTooltip="Eliminar Seleccionados" mat-fab color="accent" class="m-2" (click)="destroy(tableComponent.selection)"><mat-icon>delete_sweep</mat-icon></button>
          </div>
        </div>
        <app-table #tableComponent [data]="dataTable" (emitClick)="openForm($event)"></app-table>

      </mat-drawer-container>

    </mat-step>
  </mat-vertical-stepper>
  <div class="d-flex justify-content-end p-4">
    <button *ngIf="meeting.id" mat-raised-button color="accent" (click)="destroyMeeting()" class="mr-2">Eliminar</button>
    <button mat-raised-button color="warn" (click)="onSubmit()" [disabled]="!((!meeting?.event && formSelectEventForm.angForm.valid && formSelectDateAvailable.angForm.valid && formUserForm?.angForm?.valid) ||
    meeting?.event && formSelectEventForm.angForm.valid && formSelectDateAvailable.angForm.valid && users.length > 0)">Guardar</button>
  </div>
</div>


