<mat-toolbar color="primary" style="height: 50px;min-width: 300px;" [ngClass]="!userService.user || pathService.isHome ? 'ng-toolbar-home' : 'bg-white'">
  <div class="d-flex justify-content-between align-items-center w-100">
    <button
      type="button"
      mat-icon-button
      (click)="toggleSidenav()"
      *ngIf="(isHandset$ | async) && userService.user"
      [ngClass]="pathService.isHome ? 'text-white' : 'color-warn'">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="pl-3">
      <img src="../../assets/logo-mini.png" alt="logo-negular" width="35" [ngClass]="pathService.isHome ? 'ng-header-logo' : 'd-none'" class="cursor-pointer " [routerLink]="['/']">
    </div>
    <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-end h-100"  [ngClass]="pathService.isHome ? 'text-white' : 'color-warn'">
      <button *ngIf="!userService.user" mat-icon-button class="d-flex align-items-center h-100 mx-2" (click)="loginForm()" matTooltip="Login / Registro">
        <mat-icon class="mx-2">power_settings_new</mat-icon>
      </button>
      <button mat-button class="h-100" *ngIf="userService.user" [routerLink]="['/admin/reuniones']">
        <div class="d-flex align-items-center">
          <mat-icon matBadgeColor="warn">account_circle</mat-icon> <span class="d-none d-sm-block pl-2">{{ userService.user?.email }}</span>
        </div>
      </button>
      <button mat-icon-button *ngIf="userService.user" (click)="logout()" class="d-flex align-items-center mx-2" matTooltip="Cerrar Sesión">
        <mat-icon class="mx-2">power_settings_new</mat-icon>
      </button>
      <button mat-icon-button *ngIf="userService.user && drawerService.drawer" matTooltip="Mi Agenda" (click)="toggleDrawer()" class="mx-2">
        <mat-icon>{{!drawerService.opened() ? 'notifications_active' : 'notifications_off'}}</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>



