<div class="container p-2">
  <div class="d-flex flex-wrap align-items-center justify-content-between p-4">
    <div class="d-flex flex-wrap align-items-center">
      <button matTooltip="Eventos" mat-icon-button class="m-2" [routerLink]="['/admin/eventos']">
        <mat-icon class="mr-1">west</mat-icon>
      </button>
      <h2 class="m-0 text-secondary">{{ event.id ? event.name : 'Nuevo Evento'}}</h2>
    </div>
  </div>
  <mat-vertical-stepper [linear]="event.id ? false : true" #stepper class="container">
    <mat-step label="Datos" [stepControl]="formDataBasic?.angForm">
      <app-event-form-data-basic #formDataBasic [data]="event"></app-event-form-data-basic>
    </mat-step>
    <mat-step label="Disponibilidad" *ngIf="load" [stepControl]="formDataAvailability?.angForm">
      <app-event-form-availability #formDataAvailability [data]="event"></app-event-form-availability>
    </mat-step>
    <mat-step label="Formulario" *ngIf="load" [stepControl]="formDataQuestions?.angForm">
      <app-event-form-questions #formDataQuestions [data]="event"></app-event-form-questions>
    </mat-step>
    <mat-step label="Reuniones asociadas al Evento" *ngIf="event.id">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <h2>Reuniones</h2>
        <div class="d-flex align-items-center">
          <button matTooltip="Nueva Reunión" mat-fab color="warn" class="m-2" [routerLink]="['/admin/reuniones/crear']"><mat-icon>add</mat-icon></button>
          <button matTooltip="Eliminar Seleccionados" mat-fab color="accent" class="m-2" (click)="destroy(tableComponent.selection.selected)"><mat-icon>delete_sweep</mat-icon></button>
        </div>
      </div>
      <app-table #tableComponent [data]="data" (emitClick)="openForm($event)" (emitSelection)="destroy($event)"></app-table>
    </mat-step>
  </mat-vertical-stepper>
  <div class="d-flex justify-content-end p-4">
    <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!(this.formDataBasic.angForm.valid && this.formDataAvailability.angForm.valid && this.formDataQuestions.angForm.valid)">Guardar</button>
  </div>
</div>
