<div class="container" style="margin-top: 100px;">
  <div *ngIf="true">
    <div class="d-flex align-items-center mb-2">
      <button mat-icon-button [routerLink]="['/']" matTooltip="Atrás"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <h2 class="m-0">{{policy.name | titlecase}}</h2>
    </div>
    <div [innerHTML]="policy.content"></div>
  </div>
</div>
