<form [formGroup]="angForm" novalidate>
  <mat-form-field class="w-50 p-2">
    <input matInput placeholder="Nombre" formControlName="name" required>
    <mat-error *ngIf="angForm.controls['name'].hasError('required')">
      El campo nombre es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-50 p-2">
    <input matInput placeholder="Código" formControlName="code" rows="5" required>
    <mat-error *ngIf="angForm.controls['code'].hasError('required')">
      El campo código es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <mat-slide-toggle formControlName="active">Activar Sala</mat-slide-toggle>
</form>
