i.material-icons {
  color: #bdbdbd;
}
mat-table {
  width: 100%;
}
mat-table mat-row.mat-row{
  cursor: pointer;
}
mat-row.mat-row:hover {
  background: #f5f5f5;
}
.mat-row{
  position: relative;
}
.mat-row-link{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.mat-elevation-z8 {
  box-shadow: none !important;
}
th.mat-header-cell, td.mat-cell {
  border-bottom-width: 0 !important;
}
