<div class="my-2 px-2 d-flex justify-content-between align-items-center" *ngIf="data?.search">
  <mat-form-field class="w-100 mx-2">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    <span matSuffix><mat-icon class="mr-2">search</mat-icon></span>
  </mat-form-field>
</div>
<div *ngIf="doesDataExist">
  <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of data.columns" [matColumnDef]="column.name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon *ngIf="column.type === 'colour'" [ngStyle]="{'color': row[column.name] }" class="mr-2">color_lens</mat-icon>
          <span *ngIf="column.type !== 'colour' && column.type !== 'checkbox'">{{column.type === 'date' ? (row[column.name] | date: column.format) : row[column.name]}}</span>
          <mat-slide-toggle *ngIf="column.type === 'checkbox'" [(ngModel)]="row[column.name]" color="warn" (click)="eventClicked(row)"></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="data.displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: data.displayColumns;" (click)="openLink(row, $event)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100]">
  </mat-paginator>
</div>
<div *ngIf="!doesDataExist" class="dont-found">No se han encontrado registros</div>

