<form [formGroup]="angForm" *ngIf="event">
  <div class="row">
    <div *ngFor="let question of questions" class="col-sm-12">
      <mat-form-field class="w-100 p-2" *ngIf="question.type === 'text' || question.type === 'email' || question.type === 'number' || question.type === 'name' || question.type === 'lastName' || question.type === 'phone'">
        <mat-label>{{question.label}}</mat-label>
        <input matInput formControlName="{{question.fcn}}" [required]="question.required" [type]="(question.type === 'number' || question.type === 'phone') ? 'number' : 'text'">
        <mat-error *ngIf="angForm.controls[question.fcn].hasError('required') && question.required">
          El campo {{question.label}} es <strong>obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="angForm.controls[question.fcn].hasError('email') && question.type === 'email'">
          El formato del {{question.label}} es <strong>incorrecto</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 p-2" *ngIf="question.type === 'textarea'">
        <mat-label>{{question.label}}</mat-label>
        <textarea matInput [rows]="5" formControlName="{{question.fcn}}" [required]="question.required"></textarea>
        <mat-error *ngIf="angForm.controls[question.fcn].hasError('required') && question.required">
          El campo {{question.label}} es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 p-2" *ngIf="question.type === 'select'">
        <mat-label>{{question.label}}</mat-label>
        <mat-select formControlName="{{question.fcn}}" [required]="question.required">
          <mat-option *ngFor="let option of question.options" [value]="option.label">{{option.label}}</mat-option>
        </mat-select>
        <mat-error *ngIf="angForm.controls[question.fcn].hasError('required') && question.required">
          El campo {{question.label}} es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <div class="w-100 p-2" *ngIf="question.type === 'radio' || question.type === 'checkbox'">
        <label class="d-flex" id="{{question.fcn}}">{{question.label}}</label>
        <mat-radio-group *ngIf="question.type === 'radio'" formControlName="{{question.fcn}}" aria-labelledby="{{question.fcn}}" [required]="question.required">
          <mat-radio-button class="mx-2" *ngFor="let option of question.options" [value]="option.label">{{option.label}}</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="question.type === 'checkbox'">
          <mat-checkbox class="mx-2" *ngFor="let option of question.options" (change)="onChange($event, option, question)">{{option.label}}</mat-checkbox>
        </div>
      </div>
    </div>
  </div>

</form>
