<div class="container p-2">
  <div class="d-flex flex-wrap align-items-center justify-content-between p-4">
    <h2 class="m-0 text-secondary">Listado de Salas</h2>
    <div>
      <button matTooltip="Nueva Sala" mat-fab color="warn" class="m-2" [routerLink]="['/admin/salas/crear']">
        <mat-icon>add</mat-icon>
      </button>
      <button matTooltip="Eliminar Seleccionados" mat-fab color="accent" class="m-2" (click)="tableComponent.destroy()">
        <mat-icon>delete_sweep</mat-icon>
      </button>
    </div>
  </div>
  <app-table [data]="data" #tableComponent (emitClick)="openForm($event)" (emitSelection)="destroy($event)"></app-table>
</div>
