drag-scroll {
  width: 100%;
  display: block;
}
.drag-scroll-item {
  width: 260px;
}
img {
  height: 100px;
}
mat-icon {
  color: #b7b7b7;
}
.ng-item-ds {
  background: transparent;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  overflow: hidden;
}
.ng-item-ds:hover {
  box-shadow: 5px 5px 5px 0px #dfdfdf;
}
.ds {
  width: 100%;
  /*margin: 150px auto 20px;*/
}
/*@media(max-width: 768px){
  .ds {
    margin: 200px auto 20px;
  }
}*/
.ng-ds-date {
  width: 75px;
  height: 75px;
  position: relative;
  top: 55px;
  left: 150px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6bc2ce;
  font-size: 22px;
  color: #6bc2ce;
}
