<div class="d-flex justify-content-center align-items-center ds">
  <button class="mx-1" mat-icon-button (click)="nav.moveLeft()"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <drag-scroll #nav>
    <div drag-scroll-item class="p-2 drag-scroll-item" *ngFor="let item of data" [ngStyle]="{'margin': isEvent ? '-55px 30px 0' : '0 30px'}">
      <div class="p-2 ng-ds-date" *ngIf="isEvent">
        <div class="text-center">
          <strong>{{item.date | date: 'dd' | uppercase}}</strong><br>
          <strong style="font-size: 15px;">{{item.date | date: 'MMM' | uppercase}}</strong>
        </div>
      </div>
      <div class="ng-item-ds cursor-pointer" (click)="clickItem(item)" [ngStyle]="{'border': isEvent ? '4px solid #6cc3cf' : '1px solid #f3f3f3'}">
        <img [src]="item.src" />
      </div>
      <div *ngIf="isEvent" class="mt-3">
        <div class="d-flex align-items-center justify-content-center" style="white-space: break-spaces;height: 40px;" [ngClass]="item.name.length < 25 ? '' : 'mb-2'">
          <h4 class="text-center mb-0" [ngStyle]="{'font-size': item.name.length < 25 ? '20px' : '14px', 'font-weight': item.name.length < 25 ? '400' : '500'}">{{item.name | uppercase}}</h4>
        </div>
        <div class="text-center">
          <strong class="color-warn">{{item.price > 0 ? item.price + '€' : 'GRATIS'}}</strong>
        </div>
      </div>
    </div>
  </drag-scroll>
  <button class="mx-1" mat-icon-button (click)="nav.moveRight()"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>
