<div class="ng-dialog">
  <mat-toolbar mat-dialog-title color="primary" class="p-2 d-flex flex-wrap align-items-center justify-content-between text-light">
    <h2 class="m-0 pl-2" [innerHTML]="data.title"></h2>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </mat-toolbar>

  <mat-dialog-content *ngIf="data.content">
    <div [innerHTML]="data.content"></div>
  </mat-dialog-content>

  <div *ngIf="data.component">
    <app-component [component]="data.component" [data]="data.data"></app-component>
  </div>

  <mat-dialog-actions class="mt-3 p-2 float-right" *ngIf="!data.buttons_disabled">
    <button mat-raised-button mat-dialog-close>Cerrar</button>
    <button *ngIf="!data.reading" class="ml-2" mat-raised-button color="primary" (click)="do()">Aceptar</button>
  </mat-dialog-actions>
</div>
