h4 {
  font-weight: 500;
}

.ng-username-topbar {
  background: linear-gradient(90deg, #6bc2ce 50%, #7fa3e4 145%) !important;
  position: absolute;
  /*background: linear-gradient(90deg, #ffffff 50%, #dadada 145%) !important;*/
  height: 100%;
  /*z-index: 0;*/
}
