<div class="w-100 ng-username-topbar"></div>
<div class="container ng-username-body">
  <div class="container p-2">
    <div class="row p-3" style="border: 1px solid #eaeaea;background: #ffffff;border-radius: 13px;position: relative;margin-top: 60px">
      <div class="col-sm-12 d-flex align-items-center justify-content-between">
        <button mat-button *ngIf="load" (click)="backClicked()">
          <mat-icon class="mr-2">chevron_left</mat-icon>Atrás
        </button>
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
        <div class="p-3">
          <div class="ng-event-img text-center">
            <img *ngIf="load" src="{{ event.img }}" class="p-2" style="max-width: 200px;" width="100%" alt="{{ event?.name }}">
          </div>
          <div class="py-3 mx-auto">
            <h2 class="mb-1 text-center" [ngStyle]="{'color': event?.colour }">{{event?.name | uppercase}}</h2>
            <div class="my-2">
              <p class="text-justify" [innerHTML]="event?.description"></p>
            </div>
            <div class="d-flex justify-content-start align-items-center">
              <mat-icon mat-list-icon [ngStyle]="{'color': event?.colour }">{{event?.typeEvent === 'single' ?
                'person_outline' : 'people_outline'}}</mat-icon>
              <div class="p-2 ng-event-item">
                <strong style="font-size: 33px;" [ngStyle]="{'color': event?.colour }">{{event?.price > 0 ? (event?.price + '€') : 'GRATIS'}} / <mat-icon>person</mat-icon></strong>
              </div>
            </div>
          </div>
          <div class="my-2">
            <h4 class="d-flex align-items-center"><mat-icon class="mr-2" [ngStyle]="{'color': formSelectDateAvailable?.selectedDate ? 'green' : 'red'}">{{ formSelectDateAvailable?.selectedDate ? 'check' : 'close' }}</mat-icon><span>Fecha Seleccionada</span></h4>
            <h4 class="d-flex align-items-center"><mat-icon class="mr-2" [ngStyle]="{'color': formSelectDateAvailable?.angForm?.valid ? 'green' : 'red'}">{{ formSelectDateAvailable?.angForm?.valid ? 'check' : 'close' }}</mat-icon><span>Hora Seleccionada</span></h4>
            <h4 class="d-flex align-items-center"><mat-icon class="mr-2" [ngStyle]="{'color': formUserForm?.angForm?.valid ? 'green' : 'red'}">{{ formUserForm?.angForm?.valid ? 'check' : 'close' }}</mat-icon><span>Formulario válido</span></h4>
            <h4 class="d-flex align-items-center" *ngIf="event?.price > 0"><mat-icon class="mr-2" style="color: red">close</mat-icon><span>Pago por Bizum</span></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <mat-vertical-stepper linear #stepper class="bg-white">
          <mat-step label="Selecciona una fecha disponible" *ngIf="load" [stepControl]="formSelectDateAvailable?.angForm">
            <app-select-date-available-form #formSelectDateAvailable (emitForm)="nextStep($event)" [event]="event"></app-select-date-available-form>
          </mat-step>
          <mat-step label="Rellena el formulario" *ngIf="load" [stepControl]="formUserForm?.angForm">
            <app-meeting-user-form #formUserForm [event]="event"></app-meeting-user-form>
          </mat-step>
          <mat-step label="Resumen" *ngIf="load">
            <div class="p-2">
              <p>Estas reservando una plaza para el evento <strong>"{{event?.name}}"</strong> con la siguiente fecha seleccionada:</p>
            </div>
            <div class="d-flex justify-content-start align-items-center" *ngIf="selectedDateTime.start">
              <mat-icon>access_time</mat-icon>
              <div class="p-2 ng-event-item">
                <strong style="font-size: 20px;">{{selectedDateTime.start | date: 'EEEE, dd MMMM y' | titlecase}}</strong><br>
                {{selectedDateTime.start | date: 'HH:mm a' | uppercase}}
              </div>
            </div>
            <app-username-event-form-payment *ngIf="event?.price > 0" [email]="formUserForm?.angForm?.value?.email" [price]="event?.price"></app-username-event-form-payment>
            <hr>
            <div class="d-flex justify-content-end">
              <button mat-raised-button class="px-4 mt-3" color="warn" [disabled]="!(formUserForm?.angForm?.valid && formSelectDateAvailable?.angForm?.valid)">ENVIAR</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>

      </div>
    </div>
  </div>
</div>
