<div class="text-white ng-bg-path mx-3" style="border-radius: 20px">
  <div class="p-4 row">
    <div class="col-xl-6 col-lg-12">
      <div class="d-flex align-items-center justify-content-start mb-2 h-100">
        <button mat-icon-button (click)="backClicked()" [matTooltipPosition]="'left'" matTooltip="Atrás"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <h1 class="m-0" style="font-size: 28px;font-family: 'Poiret One';">{{pathService.path[pathService.path.length > 2 ? pathService.path.length - 2 : pathService.path.length - 1].label | uppercase}}</h1>
        <mat-icon class="ml-4">keyboard_arrow_right</mat-icon>
      </div>
     <!-- <div class="d-none d-sm-block">
        <button mat-button class="cursor-pointer p-1" style="font-size: 12px;" *ngFor="let link of pathService.path" [routerLink]="link.routerLink">{{link.label}}</button>
      </div>-->
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-6 col-lg-3 d-flex justify-content-center align-items-center">
              <div class="mx-auto cursor-pointer" [routerLink]="['/admin/reuniones']">
                <h4 class="text-center my-2">Reuniones<br><strong>Pendientes</strong></h4>
                <div class="mx-auto ng-path-item">
                  <h1 class="mb-0">¿?</h1>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="mx-auto cursor-pointer" [routerLink]="['/admin/eventos']">
                <h4 class="text-center my-2">Reuniones<br><strong>Externas</strong></h4>
                <div class="mx-auto ng-path-item">
                  <h1 class="mb-0">¿?</h1>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="mx-auto cursor-pointer" [routerLink]="['/admin/pagos']">
                <h4 class="text-center my-2">Pagos<br><strong>Pendientes</strong></h4>
                <div class="mx-auto ng-path-item">
                  <h1 class="mb-0">¿?</h1>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="mx-auto cursor-pointer" [routerLink]="['/admin/ajustes']">
                <h4 class="text-center my-2">Notificaciones<br><strong>Internas</strong></h4>
                <div class="mx-auto ng-path-item">
                  <h1 class="mb-0">¿?</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
