mat-toolbar {
  height: 50px;
}

.ng-path-item {
  background: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #56e3b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid #56e3b6;
}

.ng-path-item:hover {
  background: #56e3b6;
  color: white;
}

.ng-bg-path {
  background: linear-gradient(90deg, #6bc2ce 50%, #7fa3e4 145%) !important;
}
