<div class="container p-2">
  <div class="d-flex flex-wrap align-items-center justify-content-between p-4">
    <h2 class="m-0 text-secondary">Listado de Pagos</h2>
    <div>
      <button matTooltip="Pagado" mat-fab color="primary" class="m-2" (click)="changeStatePayment(tableComponent.selection.selected, 'paid')">
        <mat-icon>payments</mat-icon>
      </button>
      <button matTooltip="Pendiente" mat-fab color="accent" class="m-2" (click)="changeStatePayment(tableComponent.selection.selected, 'pending')">
        <mat-icon>pending</mat-icon>
      </button>
      <button matTooltip="Cancelado" mat-fab color="warn" class="m-2" (click)="changeStatePayment(tableComponent.selection.selected, 'cancelled')">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
  <app-table #tableComponent [data]="data" (emitClick)="openForm($event)"></app-table>
</div>
