<div class="waveWrapper waveAnimation bg-gradient" style="max-height: 280px">
  <div
    class="d-flex flex-wrap justify-content-center align-items-center w-100 ng-username-header animate__animated animate__jackInTheBox"
  >
   <!-- <h1 class="text-white" style="position: absolute;top: 55px;">
      Bienvenid@ al espacio de {{ user?.details?.name + ' ' + user?.details?.lastName}}<br/><strong class="typed-element"></strong>
    </h1>-->
    <div class="w-lg-50 p-4 ng-username-img ">
      <img
        class="p-4"
        [src]="user?.logo"
        width="200px"
        alt="{{user?.details?.name}}"
      />
    </div>
    <div class="ng-username">
      <div class="text-left">
        <h2 class="text-secondary">{{user?.details?.name + ' ' + user?.details?.lastName}}</h2>
        <h3>{{user?.email}}</h3>
      </div>
    </div>
    <!--<div class="w-100 text-center">
      <h1 class="text-white">
        Bienvenid@ al espacio de {{ user?.details?.name + ' ' + user?.details?.lastName}}<br/><strong class="typed-element"></strong>
      </h1>
    </div>
    <form [formGroup]="angForm" class="w-100" novalidate (ngSubmit)="openRoom()">
      <div class="w-100 mt-4 d-flex justify-content-center">
        <div class="p-2">
          <button
            mat-raised-button
            class="text-muted w-100"
            style="z-index: 16;margin-bottom: 20px;"
            type="submit"
          >
            Entrar
          </button>
          <mat-form-field appearance="fill" style="max-width: 300px; z-index: 999;">
            <mat-label>Nombre de la Sala</mat-label>
            <input matInput type="text" class="text-white" formControlName="room" required>
          </mat-form-field>
        </div>
      </div>
    </form>-->
  </div>

  <div class="waveWrapperInner bgTop d-lg-block d-none" style="max-height: 280px">
    <div
      class="wave waveTop"
      style="background-image: url('https://front-end-noobs.com/jecko/img/wave-top.png')"
    ></div>
  </div>
  <div class="waveWrapperInner bgMiddle d-lg-block d-none" style="max-height: 280px">
    <div
      class="wave waveMiddle"
      style="background-image: url('https://front-end-noobs.com/jecko/img/wave-mid.png')"
    ></div>
  </div>
  <div class="waveWrapperInner bgBottom d-lg-block d-none" style="max-height: 280px">
    <div
      class="wave waveBottom"
      style="background-image: url('https://front-end-noobs.com/jecko/img/wave-bot.png')"
    ></div>
  </div>
</div>

<div class="">
<!--  <div class="ng-ds">
    <app-drag-scroll *ngIf="webinars.length > 0" (emitClick)="openEvent($event)" [data]="webinars" [isEvent]="true"></app-drag-scroll>
  </div>-->
<!--
  <div class="ng-events" style="max-width: 750px">
    <div class="d-flex align-items-center" style="max-width: 400 px;margin: 0 auto;font-size: 20px">
      <mat-form-field class="w-100">
        <input matInput type="text" placeholder="Buscar Servicio">
      </mat-form-field>
      <mat-icon color="warn" class="ng-search">search</mat-icon>
    </div>
    <div class="w-100" *ngFor="let event of user?.events" (click)="openSheet(event)" [routerLink]="[event.slug]">
      <div class="d-flex align-items-center justify-content-start ng-event-username">
        <div class="row">
          <div class="col-sm-3">
            <div [ngStyle]="{'background-image': 'url(' + event.src + ')', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'height': '200px','background-position': 'center center'}">
              <button *ngIf="this.userService.user && this.userService.user.username === user?.username" mat-mini-fab color="warn" [routerLink]="['/admin/eventos/' + event.id]"><mat-icon>edit</mat-icon></button>
            </div>
          </div>
          <div class="col-sm-9 d-flex align-items-center">
            <div class="p-2">
              <h1>{{event.name}}</h1>
              <p>{{event.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="d-flex flex-wrap justify-content-center align-items-center ng-events-username" style="padding-bottom: 80px">
    <div class="ng-event-username animate__animated animate__slideInUp" *ngFor="let event of user?.events" (click)="openEvent(event)">
        <div class="text-center w-100">
          <img [src]="event.src" alt="" class="p-3" height="200px">
          <div class="m-3">
            <h2 class="px-2">{{event.name}}</h2>
            <p class="p-2">{{event.description}}</p>
          </div>
          <div class="p-3 d-flex justify-content-between align-items-center">
            <div [ngStyle]="{'color': event?.colour }" class="d-flex align-items-center justify-content-center">
              <mat-icon>{{event?.typeEvent === 'single' ? 'person_outline' : 'people_outline'}}</mat-icon>
              <span class="ml-2">{{event?.typeEvent === 'single' ? 'Evento Individual' : 'Evento Grupal'}}</span>
            </div>
            <button *ngIf="this.userService.user && this.userService.user.username === user?.username" mat-mini-fab color="warn" [routerLink]="['/admin/eventos/' + event.id]"><mat-icon>edit</mat-icon></button>
            <div class="p-2">
              <strong style="font-size: 33px;" [ngStyle]="{'color': event?.colour }">{{event?.price > 0 ? (event?.price + '€') : 'GRATIS'}}</strong>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
