.ng-content-username{
  width: 100%;
  height: 100%;
  position: absolute;
}

.ng-header-username {
  background: #7bc699;
}

.ng-username-img {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-image: url('../../../assets/img/bg_username.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ng-username {
  position: relative;
  bottom: -85px;
  z-index: 100;
}

.ng-username h2 {
  font-size: 35px;
  margin-bottom: 10px !important;
}

.ng-username h3 {
  color: #9a9a9a;
}

.ng-events {
  margin: 80px auto;
  padding: 0 60px;
}

@media(max-width: 550px) {
  .ng-username {
    position: initial;
    margin: 30px auto;
    display: block;
  }
  .ng-username-img {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .ng-events {
    margin-top: 50px;
    padding: 0 10px;
  }
}

.ng-username-header {
  top: 125px;
  position: absolute;
  z-index: 20;
}

.ng-ds {
  margin: 150px auto 20px;
}
@media(max-width: 768px){
  .ng-username-header {
    left: 0px;
  }
  .ng-ds {
    margin: 200px auto 20px;
  }
  .ng-events-username {
    margin-top: 250px !important;
  }

}

.ng-border {
  width: 15%;
  height: 5px;
  background: linear-gradient(90deg, #6bc2ce 50%, #7fa3e4 145%) !important;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.ng-event-username {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(white,white) padding-box,linear-gradient(to right, #58e2b6, #7fa3d4, #f283e4) border-box;
  border: 2px solid transparent;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.ng-event-username:hover {
  transition: 0.2s;
  top: -10px;
  position: relative;
  box-shadow: 0 15px 15px 0px #d2d2d2;
}

.ng-events-username {
  margin-top: 130px;
}

.ng-search {
  font-size: 65px;
  width: 65px;
  height: 65px;
}
