<div class="container p-2">
  <div class="d-flex flex-wrap align-items-center justify-content-between p-4" *ngIf="!export">
    <div class="d-flex align-items-center">
      <button matTooltip="Usuarios" mat-icon-button class="m-2" [routerLink]="['/admin/usuarios']">
        <mat-icon class="mr-1">west</mat-icon>
      </button>
      <h2 class="m-0 text-secondary">{{ user?.email }}</h2>
    </div>
  </div>
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step label="Reuniones y Pagos">
      <app-user-form-meeting [user]="user"></app-user-form-meeting>
    </mat-step>
    <mat-step label="Notificaciones Enviadas">
        <app-user-form-notification [user]="user" [meeting]="meeting"></app-user-form-notification>
    </mat-step>
  </mat-vertical-stepper>
</div>
