<mat-drawer-container autosize class="w-100">

  <mat-drawer #drawerMeetingNotification position="end" mode="over" class="p-2 w-100" style="background: #fafafc !important;">
    <div class="w-100 d-flex flex-wrap align-items-center">
      <h2 class="m-0">Notificación Enviada</h2>
    </div>
    <app-notification-form-data-basic [notification]="notification" [export]="true"></app-notification-form-data-basic>
    <div class="d-flex flex-wrap align-items-center justify-content-end">
      <button class="mr-2" mat-raised-button color="warn" (click)="close(drawerMeetingNotification)">Cerrar</button>
    </div>
  </mat-drawer>

  <app-table [data]="data" (emitClick)="openForm($event, drawerMeetingNotification)"></app-table>

</mat-drawer-container>
