<div class="px-2">

      <div class="d-flex flex-wrap justify-content-between p-4">

        <button mat-fab color="warn" matTooltip="Nueva Reunión" class="mx-2" [routerLink]="['/admin/reuniones/crear']">
          <mat-icon>add</mat-icon>
        </button>

        <div class="d-flex flex-wrap align-items-center">
          <button mat-icon-button
                  mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="activeDayIsOpen = false">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <h2 class="m-3">
            {{ viewDate | calendarDate:(view + 'ViewTitle') :'Es' | titlecase }}
          </h2>
          <button
            mat-icon-button
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
        <div class="d-flex flex-wrap align-items-center">
          <button mat-button
                  (click)="view = CalendarView.Month"
                  [class.active]="view === CalendarView.Month">
            Mes
          </button>
          <button mat-button
                  (click)="view = CalendarView.Week"
                  [class.active]="view === CalendarView.Week">
            Semana
          </button>
          <button mat-button
                  (click)="view = CalendarView.Day"
                  [class.active]="view === CalendarView.Day">
            Día
          </button>
        </div>
      </div>

      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [activeDayIsOpen]="activeDayIsOpen"
          [weekStartsOn]="weekStartsOn"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [weekStartsOn]="weekStartsOn"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>

        <div class="d-flex justify-content-center p-4" *ngIf="legend.length > 0">
          <div class="mx-2" *ngFor="let item of legend">
            <div [routerLink]="['/admin/eventos/' + item.id]" class="d-flex align-items-center cursor-pointer">
              <mat-icon [ngStyle]="{ 'color': item.colour }" class="mr-2">stop_circle</mat-icon> {{item.name}}
            </div>
          </div>
        </div>
      </div>

</div>


