<div class="row">
  <div class="col-sm-3 d-flex justify-content-center">
    <img src="../../../assets/img/btn-bizum.png" style="max-height: 150px" alt="bizum">
  </div>
  <div class="col-sm-9 d-flex align-items-center justify-content-start">
    <div class="p-2">
      <p>Este evento tiene un coste de <strong>{{price}}€</strong> por persona.</p>
      <p>No se completará la reserva hasta que el administrador verifique el pago realizado (Máximo 24h después del envío de este formulario).</p>
      <p><strong>Recibirás un email a {{ email }} con los pasos necesarios para procesar el pago.</strong></p>
    </div>
  </div>
</div>
