<div *ngIf="!meeting?.event?.id && events.length === 0" class="d-flex justify-content-center">
  <div class="text-center">
    <p>No se han encontrado eventos</p>
    <button mat-raised-button color="primary" [routerLink]="['/admin/eventos/crear']">Crear Evento</button>
  </div>
</div>
<div *ngIf="meeting?.event?.id" class="row">
  <div class="col-xl-4 col-lg-12" style="border-right: 1px solid #eaeaea;">
    <button style="position: absolute;left: calc(100% - 120px);" mat-fab color="warn" [routerLink]="['/admin/eventos/' + meeting?.event?.id]"><mat-icon>edit</mat-icon></button>
    <div class="ng-event-img">
      <img src="{{ meeting?.event.img }}" height="100%" alt="{{ meeting?.event?.name }}">
    </div>
  </div>
  <div class="col-xl-4 col-lg-12 d-flex align-items-center" style="border-right: 1px solid #eaeaea;">
    <div class="py-3 mx-auto">
      <h2 class="mb-1" [ngStyle]="{'color': meeting?.event.colour }">{{meeting.event.name | uppercase}}</h2>
      <div class="d-flex justify-content-center align-items-center">
        <mat-icon>access_time</mat-icon>
        <div class="p-2 ng-event-item">
          <strong style="font-size: 20px;">{{meeting.start | date: 'dd MMM yy' | uppercase}}</strong><br>
          {{meeting.start | date: 'HH:mm a'  | uppercase}} - {{meeting.end | date: 'HH:mm a'  | uppercase}}
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <mat-icon mat-list-icon [ngStyle]="{'color': meeting?.event.colour }">{{meeting?.event.typeEvent === 'single' ?
          'person_outline' : 'people_outline'}}</mat-icon>
        <div class="p-2 ng-event-item">
          <strong style="font-size: 33px;" [ngStyle]="{'color': meeting?.event.colour }">{{meeting?.event.price > 0 ? (meeting?.event.price + '€') : 'GRATIS'}} / <mat-icon>person</mat-icon></strong><br>
          {{meeting.userMeetings?.length}} usuarios
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12 d-flex align-items-center justify-content-center" style="border-right: 1px solid #eaeaea;">
    <div class="p-2">
      <div class="p-2 d-flex justify-content-center">
        <button *ngIf="meeting.state === 'pending'" matTooltip="Cancelar Reunión" class="mx-2" mat-fab style="background-color: #e65f5f" (click)="changeStateMeeting('cancelled')"><mat-icon>highlight_off</mat-icon></button>
        <button *ngIf="meeting.state === 'cancelled'" matTooltip="Activar Reunión" class="mx-2" mat-fab color="primary"  (click)="changeStateMeeting('active')"><mat-icon>done</mat-icon></button>
<!--
        <button matTooltip="Activar/Desactivar Sala" class="mx-2" mat-fab [ngStyle]="{background: meeting.active ? '#73e0bd' : '#e65f5f'}" (click)="activeMeeting()"><mat-icon>input</mat-icon></button>
-->
        <button matTooltip="Abrir Sala" mat-fab color="warn" class="mx-2" (click)="openMeetRoom()"><mat-icon>launch</mat-icon></button>
      </div>
      <img
        src="../../assets/img/meet-room.png"
        width="250px"
      />
    </div>
  </div>
</div>
<mat-selection-list *ngIf="events.length > 0 && !meeting?.event?.id" #event [multiple]="false" (selectionChange)="selected(event.selectedOptions.selected[0]?.value)" [disabled]="disabledList">
  <mat-list-option *ngFor="let event of events" [value]="event" [selected]="event.id === angForm.value?.event?.id">
    <mat-icon mat-list-icon [ngStyle]="{'color': event.colour }">{{event.typeEvent === 'single' ? 'person_outline' : 'people_outline'}}</mat-icon>
    <div mat-line>
      <strong>{{event.name}}<small class="ml-2">({{event.duration}} min)</small></strong>
    </div>
    <div mat-line>
      <small>{{event.description}}</small>
    </div>
  </mat-list-option>
</mat-selection-list>


