:host ::ng-deep .mat-radio-container {
  display: none;
}

mat-radio-group {
  text-align: center;
}

.ng-event-img {
  height: 200px;
  width: 200px;
  background: #f6f6f6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.ng-event-item {
  padding: 10px !important;
}


