/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
  min-width: 300px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

:focus {
  outline: none !important;
}

.btn-fixed {
  position: fixed !important;
  z-index: 10;
  right: 40px;
  bottom: 40px;
}

mat-form-field {
  width: 100%;
}

.mat-dialog-container {
  padding: 0 !important;
  height: auto !important;
}

/*.mat-horizontal-content-container {
  overflow: auto !important;
}*/

.sidenav-container {
  min-height: 1000px;
}

.menu .mat-expansion-panel-body {
  padding: 0px !important;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.mat-ripple {
  width: 100%;
}

.ng-dialog {
  min-height: 183px !important;
  min-width: 300px !important;
}

.ng-dialog .mat-dialog-content {
  margin: 0 !important;
}

.ng-header-logo {
  filter: brightness(0) invert(1);
}

.home h1 {
  line-height: 50px !important;
}

.home h2 {
  font-family: 'Poiret One', cursive !important;
  font-size: 30px !important;
}

.home h3 {
  font-family: 'Poiret One', cursive !important;
  font-size: 28px !important;
  font-weight: bold !important;
  background: -webkit-linear-gradient(left,#56e3b6, #f283e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media(min-width: 768px) {
  .waveWrapperInner {
    position: absolute;
    width: 100%;
    height: 675px;
    top: 0px;
  }
  .home h1 {
    font-size: 24px !important;
  }
  /*.ng-date-availability {
    min-width: 80vh;
  }*/
  .ng-mat-selection {
    height: 100%;
  }
}

@media(max-width: 768px) {
.wave {
  position: relative !important;
}
.drag-scroll-content {
  display: block !important;
}
p {
  text-align: justify;
}
.mat-sidenav-content {
  border-radius: 0 !important;
}
}

ul.ngx-pagination {
padding: 0 !important;
}
.ngx-pagination .current {
background-color: #d1d1d1 !important;
}
.mat-tab-body-content {
overflow: hidden !important;
}

.ng-availability .mat-checkbox-inner-container {
display: none !important;
}

.ng-availability .mat-checkbox-layout {
margin: 0 !important;
}

.ng-availability .mat-expansion-panel {
box-shadow: none !important;
}

.ng-toolbar-home {
background: transparent !important;
position: absolute;
z-index: 10;
}

.ng-home-logo {
display: flex;
align-items: flex-end;
justify-content: center;
height: 21em;
}

.ng-home-logo img {
filter: brightness(0) invert(1);
max-width: 430px;
}

.mat-drawer-container {
background-color: #fafafc !important;
}

.home p {
font-size: 20px;
line-height: 30px;
color: #969da2;
font-family: sans-serif;
font-stretch: condensed;
}

.mat-drawer-container {
  min-height: 600px !important;
}

.mat-drawer-inner-container {
overflow: hidden !important;
overflow-y: auto !important;
}

.mat-expansion-panel {
box-shadow: none !important;
}

.loading-spinner{
position: absolute;
width: 100%;
top: 0px;
left: 0px;
height: 100vh;
align-items: center;
justify-content: center;
display: grid;
z-index: 9999;
}

@-webkit-keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

@keyframes move_wave {
0% {
  transform: translateX(0) translateZ(0) scaleY(1)
}
50% {
  transform: translateX(-25%) translateZ(0) scaleY(0.55)
}
100% {
  transform: translateX(-50%) translateZ(0) scaleY(1)
}
}
.waveWrapper {
height: 675px;
}

.bgTop {
z-index: 15;
opacity: 0.5;
}
.bgMiddle {
z-index: 10;
opacity: 0.75;
}
.bgBottom {
z-index: 5;
}
.wave {
position: absolute;
left: 0;
width: 200%;
height: 108%;
background-repeat: repeat no-repeat;
background-position: 0 bottom;
transform-origin: center bottom;
}
.waveTop {
background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
-webkit-animation: move-wave 3s;
-webkit-animation-delay: 1s;
animation-delay: 1s;
}
.waveMiddle {
background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
animation: move_wave 10s linear infinite;
}
.waveBottom {
background-size: 50% 100px;
}
.waveAnimation .waveBottom {
animation: move_wave 15s linear infinite;
}

#meet iframe {
min-height: 800px;
}

.watermark {
display: none !important;
}

.blurry {
filter: blur(1px);
}

/*mat-icon.ng-sidenav-btn-icon {
font-size: 60px !important;
width: 115px;
height: 70px;
padding-top: 15px;
}*/

.mat-dialog-actions {
  margin-bottom: 0px !important;
}

.ck.ck-content {
  min-height: 200px;
}

.ng-dad-box {
  padding: 10px;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 0 0 5px;
}

.ng-mat-selection {
  max-height: 400px;
  overflow: auto;
}

.mat-list-item-disabled {
  background-color: #ffffff !important;
}

.dropzone {
  background-color: #eee;
  border: dotted 1px #aaa;
  min-height: 200px;
  margin-bottom: 30px;
}

.ng-img-event img {
  padding: 20px 0;
  max-width: 125px;
}

.mt-50 {
  margin-top: 50px !important;
}

.menu mat-sidenav {
  background: linear-gradient(90deg, #56e3b6 50%, #7fa3e4 145%);
}

.mat-sidenav-content {
  border-radius: 100px 0 0 100px;
  background: #fafafc !important;
}

.border-radius-none {
  border-radius: 0 !important;
}

.mat-tab-label {
  min-width: 115px !important;
}

.mat-step, .mat-table, .mat-paginator-container {
  background: rgba(250, 250, 252, 0) !important;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c5c5c5;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #76b2da 50%, #6bc2ce 145%);
  border-radius: 10px;
}

.mat-stepper-vertical, .mat-drawer, .mat-paginator {
  background-color: rgba(250, 250, 252, 0) !important;
}

/*.row {
  flex: 0 0 100% !important;
}*/

.drag-scroll-content {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.drag-scroll-item {
  margin-right: 30px !important;
}
drag-scroll {
  height: 285px !important;
}

.ng-username-body .mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected), .ng-username-body .mat-form-field-disabled .mat-date-range-input-separator {
  background: #fcfcfc4d !important;
  border-radius: 50%;
}
.ng-username-body .mat-calendar-body-cell-content.mat-focus-indicator {
  background: linear-gradient(white,white) padding-box,linear-gradient(to right, #6bc2ce, #7fa3d4, #72b7d6) border-box;
}
.ng-username-body .mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected {
  background: linear-gradient(#6bc2ce,#75b2d9);
}
.ng-username-body .mat-list-single-selected-option {
  background: linear-gradient(#6bc2ce,#75b2d9) !important;
  color: white !important;
  border: transparent !important;
}
.ng-username-body .mat-radio-button {
  display: block !important;
}
