@charset "utf-8";
@import '~@angular/material/theming';
//@import '~saturn-datepicker/theming';
@import '~saturn-datepicker/bundle.css';
@include mat-core();

$md-negular: (
  100 : #e5e5e5,
  200 : #adffe2,
  300 : #6bc3ce,
  400 : #56e3b6,
  600 : #7fa3d4,
  800 : #a579c9,
  1000 : #f283e4,
  2000 : rgba(28, 29, 27, 0.82),
  contrast: (
    100 : #ffffff,
    200 : #ffffff,
    400 : #ffffff,
    600 : #ffffff,
    800 : #ffffff,
    1000 : #ffffff,
  ));

$custom-light: mat-palette($md-negular, 200);
$custom-primary: mat-palette($md-negular, 400);
$custom-accent: mat-palette($md-negular, 1000);
$custom-warn: mat-palette($md-negular, 300);
$custom-purple: mat-palette($md-negular, 800);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);
//@include sat-datepicker-theme($custom-theme);

.active {
  color: mat-color($custom-accent) !important;
}

.bg-primary {
  background-color: mat-color($custom-primary) !important;
}

.bg-accent {
  background-color: mat-color($custom-accent) !important;
}

.bg-warn {
  background-color: mat-color($custom-warn) !important;
}

.color-primary {
  color: mat-color($custom-primary) !important;
}

.color-accent {
  color: mat-color($custom-accent) !important;
}

.color-warn {
  color: mat-color($custom-warn) !important;
}

/*app-header > mat-toolbar {
  background: linear-gradient(to right, mat-color($custom-primary) 0%, mat-color($custom-accent) 100%) !important;
}*/

.bg-gradient {
  background: linear-gradient(-45deg, mat-color($custom-light), mat-color($custom-accent), mat-color($custom-warn), mat-color($custom-purple));
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

.cal-month-view .cal-open-day-events {
  background-color: mat-color($md-negular, 600) !important;
  box-shadow: none !important;
  //color: mat-color($md-negular, 2000) !important;
}


