<div class="row ng-date-availability" *ngIf="event">
  <div class="row">
    <div [ngClass]="selectedDate ? 'col-sm-8' : 'col-sm-12'" style="max-width: 750px; transition: 0.2s">
      <mat-calendar [selected]="selectedDate" [dateFilter]="filterDates" (selectedChange)="onSelect($event)"></mat-calendar>
    </div>
    <div class="col-sm-4 col-xs-12" [ngClass]="selectedDate ? 'd-block' : 'd-none'">
      <h4 class="text-center text-uppercase">{{selectedDate | date: 'EEEE dd MMM'}}</h4>
      <mat-selection-list *ngIf="selectedDate" class="ng-mat-selection" #timeAvailable [multiple]="false" (selectionChange)="selected(timeAvailable.selectedOptions.selected[0]?.value)">
        <mat-list-option style="margin: 5px;border: 1px solid #e7e7e7;border-radius: 7px;" *ngFor="let timeAvailable of timesAvailable" [value]="timeAvailable" [selected]="timeAvailable.selected">
          <div mat-line class="text-center">
            {{timeAvailable.start | date: 'HH:mm' | uppercase}}
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>


