<form [formGroup]="angForm" novalidate>
  <mat-form-field class="w-100 p-2" *ngIf="!export">
    <input matInput placeholder="Nombre" formControlName="name" required>
    <mat-error *ngIf="angForm.controls['name'].hasError('required')">
      El campo nombre es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100 p-2">
    <input matInput placeholder="Asunto" formControlName="subject" required>
    <mat-error *ngIf="angForm.controls['subject'].hasError('required')">
      El campo asunto es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <div>
    <ckeditor [editor]="Editor" formControlName="body"></ckeditor>
    <div class="p-2 d-flex justify-content-between align-items-center">
      <small class="color-warn" *ngIf="angForm.invalid && (angForm.dirty || angForm.touched) && angForm.controls['body'].hasError('required')">El cuerpo de la notificación es <strong>obligatorio</strong></small>
      <small class="color-warn" *ngIf="angForm.invalid && (angForm.dirty || angForm.touched) && angForm.controls['body'].hasError('maxlength')">El cuerpo de la notificación no puede superar <strong>más de 500 caracteres</strong></small>
      <small [ngStyle]="{color: angForm.controls['body'].value?.length > 500 ? 'red' : ''}">{{angForm.controls['body'].value?.length ? angForm.controls['body'].value?.length : 0}} / 500</small>
    </div>
  </div>
</form>
