.footer {
  /*clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%);*/
  padding-top: 100px;
  padding-bottom: 100px;
  /*background: linear-gradient(90deg, #6bc2ce 50%, #7fa3e4 145%);*/
  background: #fafafc !important;
}

@media(max-width: 768px) {
  .footer { clip-path: none; }
}

.ng-bg-footer {
  background: linear-gradient(90deg, #6bc2ce 50%, #7fa3e4 145%) !important;
}

.ng-bg-footer img {
  filter: brightness(0) invert(1) !important;
}

.ng-bg-footer span, .ng-bg-footer a {
  color: white !important;
}
