<div class="footer bg-warn" [ngClass]="pathService.isHome ? 'ng-bg-footer' : ''">
  <div class="container py-4 text-center">
    <img
      style="filter: contrast(0);opacity: 0.4;"
      class="mt-4 p-4"
      src="../../assets/logo.png"
      width="200px"
      alt="logo-negular"
    /><br>
    <span style="font-size: 17px;color: #c5c5c5">{{ date | date: 'yyyy' }} &copy;  negular.com</span>
    <div class="p-2 d-flex flex-wrap justify-content-center align-items-center">
      <a style="color: #c5c5c5" class="m-2" [routerLink]="['/politica/privacidad']">Política de privacidad</a>
      <a style="color: #c5c5c5" class="m-2" [routerLink]="['/politica/terminos-de-uso']">Términos de uso</a>
      <a style="color: #c5c5c5" class="m-2" [routerLink]="['/politica/cookies']">Política de cookies</a>
    </div>
  </div>
</div>
