.logo {
  height: 200px;
  width: 200px;
  background: linear-gradient(white,white) padding-box,linear-gradient(to right, #58e2b6, #7fa3d4, #f283e4) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 10px;
  overflow: hidden;
}

/*button.mat-focus-indicator.mat-button.mat-button-base:hover {
  background: #7fa3d4;
  color: white !important;
}*/

.ng-header {
  position: relative;
  display: block;
  width: 100%;
  z-index: 99999999;
}

.ng-icon-menu {
  width: 80px;
  height: 80px;
  padding: 10px
}

.mat-drawer-side {
  border-right: none !important;
}

mat-sidenav-container {
  background: linear-gradient(90deg, #6bc3ce 50%, #7fa3e4 145%);
}
