<mat-sidenav-container class="menu" autosize>
  <mat-sidenav #sidenav [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="((isHandset$ | async) === false) && !pathService.isHome"
               [ngClass]="!userService.user ? 'd-none' : ''">
      <mat-accordion>
        <div class="p-2">

          <div class="d-flex justify-content-center cursor-pointer" (click)="openRouterLink('/', sidenav)">
            <img src="../../assets/logo-mini.png" alt="logo-negular" width="35" class="ng-header-logo">
          </div>

          <div style="margin: 100px 0;">
            <div *ngFor="let item of sidenavService.defaultMenu">
              <button mat-button (click)="openRouterLink(item.routerLink, sidenav)" matTooltip="{{item.label}}" [matTooltipPosition]="'right'" class="ng-icon-menu">
                <img src="../../assets/img/menu/{{item.icon}}" alt="{{item.label}}" width="38px">
              </button>
            </div>
          </div>

          <div class="d-flex justify-content-center cursor-pointer mt-4">
            <button mat-icon-button (click)="logout()" [matTooltipPosition]="'right'" class="d-flex align-items-center" matTooltip="Cerrar Sesión">
              <mat-icon class="mx-2 text-white">power_settings_new</mat-icon>
            </button>
          </div>
        </div>
      </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="pathService.isHome ? 'border-radius-none' : ''">
    <mat-drawer-container autosize class="w-100">
      <mat-drawer #drawer position="end" [ngClass]="!userService.user ? 'd-none' : ''" [mode]="(isHandset$ | async) ? 'over' : 'side'" class="p-2" [opened]="((isHandset$ | async) === false) && !pathService.isHome" style="min-width: 350px;background: white !important;">
         <div class="d-flex justify-content-start d-block d-sm-none">
           <button mat-icon-button *ngIf="userService.user" matTooltip="Mi Agenda" (click)="drawer.toggle()" style="position: fixed;z-index: 2;background: white;">
             <mat-icon class="color-warn">close</mat-icon>
           </button>
         </div>
         <div class="logo">
            <img [src]="path + userService.user?.details?.img" alt="{{userService.user?.details?.name}}" width="100%" class="p-3">
         </div>
        <button (click)="openRouterLink('/admin/ajustes', drawer)" mat-mini-fab color="warn" style="position: absolute;right: 85px;top: 190px;">
          <mat-icon>edit</mat-icon>
        </button>
         <div class="text-secondary text-center mb-2">
         <h2 class="m-0">{{userService.user?.details?.name}} {{userService.user?.details?.lastName}}</h2>
           <small>{{userService.user?.email}}</small>
        </div>
        <mat-tab-group headerPosition="above" [selectedIndex]="0">
          <mat-tab label="Mi Agenda">
            <div *ngIf="meetingService.meetings.length === 0" class="text-center pt-4">
              <p>No se han encontrado reuniones</p>
              <button mat-raised-button color="primary" [routerLink]="['/admin/reuniones/crear']">Crear una Reunión</button>
            </div>
            <div *ngIf="meetingService.meetings.length > 0">
              <div class="d-flex flex-wrap align-items-center justify-content-between p-4">
                <div class="p-1 ng-event-item" style="font-size: 11px;">
                  Buscar...
                </div>
              </div>
              <div class="m-2 row cursor-pointer" [routerLink]="['/admin/reuniones/' + meeting.id]" *ngFor="let meeting of meetingService.meetings" style="transition: 0.2s;border-radius: 15px;background: linear-gradient(white,white) padding-box,linear-gradient(to right, #58e2b6, #7fa3d4, #f283e4) border-box;border: 2px solid transparent;border-radius:15px;">
                <div class="p-1 col-3 d-flex align-items-center justify-content-center">
                  <img src="{{meeting.image}}" alt="{{meeting.event?.name}}" width="50px"/>
                </div>
                <div class="col-6 d-flex align-items-center">
                  <div class="py-1">
                    <div class="d-flex justify-content-start align-items-center">
                      <!--<mat-icon color="accent">access_time</mat-icon>-->
                      <div class="p-1 ng-event-item" style="font-size: 11px;">
                        <strong>{{meeting.start | date: 'dd MMM' | uppercase}}</strong><br>
                        {{meeting.start | date: 'HH:mm a'  | uppercase}} - {{meeting.end | date: 'HH:mm a'  | uppercase}}
                      </div>
                    </div>
                    <!-- <div class="d-flex justify-content-start align-items-center">
                       &lt;!&ndash;<mat-icon color="primary" mat-list-icon>payments</mat-icon>&ndash;&gt;
                       <div class="p-1 ng-event-item">
                         &lt;!&ndash;<strong style="font-size: 12px;">{{meeting?.event.price > 0 ? (meeting?.event.price + '€') : 'GRATIS'}}</strong>&ndash;&gt;
                         {{meeting?.event.price > 0 ? meeting.state : '-'}}
                       </div>
                     </div>-->
                  </div>
                  <!--<div class="d-flex justify-content-start align-items-center">
                    <mat-icon color="warn" mat-list-icon>{{meeting?.event.typeEvent === 'single' ?
                      'person_outline' : 'people_outline'}}</mat-icon>
                    <div class="p-1 ng-event-item">
                      <strong style="font-size: 12px;margin-right: 6px;">{{meeting.userMeetings.length + 1}}</strong>Usuarios
                    </div>
                  </div>-->
                </div>
                <div class="col-3 p-3 d-flex justify-content-center align-items-center">
                  <button mat-mini-fab color="warn" (click)="openMeetRoom(meeting?.id)">
                    <mat-icon>launch</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Recordatorios" disabled></mat-tab>
          <mat-tab label="Mensajes" disabled></mat-tab>
        </mat-tab-group>
      </mat-drawer>
      <mat-drawer-content [ngStyle]="{'background': pathService.isHome ? '' : '#fafafc'}">
        <app-header class="ng-header" (emitClick)="getMeetingRoom($event)"></app-header>
        <div class="w-100" style="min-height: 1000px" [class.blurry]="isLoading" [ngClass]="!pathService.isHome ? 'container mt-4' : 'bg-white'">
          <app-path *ngIf="userService.user && !pathService.isHome"></app-path>
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>

</mat-sidenav-container>

<app-spinner></app-spinner>
